* {
  box-sizing: border-box;
}

body {
  background-color: #F0F0F0;
  padding: 15px;
  font-family: 'Inter', sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 393px;
  margin: auto;
  background-color: #EAEAEA;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.container {
  max-width: 350px;
  margin: auto;
}

.header {
  color: #fff;
  padding: 68px 96px 145px;
  background: linear-gradient(0deg, rgba(87, 87, 87, 0.3), rgba(87, 87, 87, 0.3)), url(../img/header.png) no-repeat center / cover;
  border-radius: 0px 0px 50px 50px;
}

.hello {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.hello-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.user {
  margin-top: -40px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding-bottom: 13px;
}
.user-avatar {
  margin-top: -61px;
  object-fit: cover;
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(202, 196, 188, 0.12), rgba(202, 196, 188, 0.12)), url(image.png);
border: 5px solid #FFFFFF;
}

.user-title {
margin: 6px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.user-description {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #6F6F6F;
  margin-top: 6px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 275px;
  margin: auto;
  gap: 10px;
  margin-bottom: 6px;
}

.button {
  height: 40px;
  border-radius: 5px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  width: 100%;
}

.button.vk {
  background: #4c75a3;
}

.button.tg {
  background: #0088c0;
}

.button.ig {
  background: #E1306C;
}

.button.fb {
  margin: auto;
  max-width: 275px;
  background: #3B5998;
}